.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

body {
  background-color: #191919;
  margin: 0;
  padding: 0;
}

.txt {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  color: white;
}

.link {
  text-decoration: none;
}

.button {
  background: #118DA8;
  padding: 12px 15px 12px 20px;
  border-radius: 6px;
  border-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 43px;
  padding-bottom: 43px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__link {
  transition: 1s;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  margin-left: 40px;
}
.header-nav__link:last-child {
  margin-right: 70px;
}
.header-nav__link:hover {
  color: #118DA8;
}
.header-logo {
  margin-left: 50px;
}

.promo {
  display: flex;
  padding-top: 40px;
}
.promo__man {
  margin-left: 70px;
}
.promo__info {
  margin-top: 294px;
  margin-left: 60px;
}
.promo__txt {
  max-width: 526px;
  width: 100%;
  margin-bottom: 90px;
}
.promo__tittle {
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
}

.span__next {
  font-weight: 400;
  font-size: 75px;
  line-height: 88px;
  position: relative;
}
.span__level {
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
}

.listenon__txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
.listenon__links {
  margin-top: 16px;
  max-width: 228px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.vector__img {
  position: absolute;
  margin-top: -13px;
  margin-left: -3px;
}
.vector__stick {
  position: absolute;
  margin-top: -25px;
  margin-left: -678px;
}

.reviews {
  padding: 100px 200px;
}

.review {
  max-width: 313px;
  width: 100%;
  background-color: #000000;
  padding: 54px 60px 51px 50px;
  border-radius: 32px;
  flex-direction: column;
  display: flex;
}
.review:nth-child(2) {
  margin-right: 16px;
  margin-left: 16px;
}
.review__box {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.review__text {
  font-size: 36px;
  line-height: 43px;
  margin-top: 21px;
  margin-bottom: 19px;
  max-width: 313px;
  width: 100%;
}
.reviewer__name {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
  max-width: 160px;
}

.starbox {
  max-width: 110px;
  width: 100%;
}

.footer {
  padding: 100px 70px;
  display: flex;
}

.column__logo {
  display: flex;
  flex-direction: column;
  max-width: 224px;
  width: 100%;
  margin-left: 50px;
  margin-right: 240px;
}

.footer-logo {
  margin: 0;
}

.social__links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 92px;
  width: 100%;
}

.column__links {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
}
.column__links:last-of-type {
  margin-right: 16px;
}

.column__links__link {
  margin-bottom: 10px;
  transition: 1s;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}
.column__links__link:last-of-type {
  margin: 0;
}

.form {
  max-width: 1300px;
  width: 100%;
  margin-top: 100px;
}
.form__box {
  background-color: black;
  border-radius: 32px;
  padding: 60px;
  padding-bottom: 75px;
  display: flex;
  justify-content: space-between;
}
.form__box__text {
  max-width: 437px;
  width: 100%;
}
.form__box__text__perscription {
  color: #118DA8;
  font-size: 18px;
  line-height: 27px;
}
.form__box__text__headlight {
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 2.88px;
}
.form__hover__image {
  position: relative;
  top: -60px;
  left: -40px;
}
.form__body {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.form__unit {
  border: none;
}

#name__input {
  padding: 26px 438px 27px 19px;
  border-radius: 6px;
  background-color: #191919;
  margin-bottom: 20px;
}

#email__input {
  padding: 26px 438px 27px 19px;
  border-radius: 6px;
  background-color: #191919;
  margin-bottom: 20px;
}
#email__input:placeholder {
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}

#submit {
  padding: 10px 17px;
  background: #118DA8;
  border-radius: 6px;
  font-size: 15px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.7);
}

.about {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.about__name {
  font-size: 65px;
  line-height: 79px;
  letter-spacing: 2.88px;
  margin-bottom: 28px;
}
.about__description {
  max-width: 556px;
  width: 100%;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 33px;
}
.about__description:last-of-type {
  margin-bottom: 0;
}
.about__text__box {
  padding-top: 147px;
  padding-bottom: 166px;
}

.about__link__arrow {
  rotate: -90deg;
  margin-bottom: 20px;
}

.last {
  padding-top: 100px;
  padding-bottom: 160px;
}
.last__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 66px;
}
.last__tittle {
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
}
.last__all {
  margin-left: 70px;
  margin-right: 70px;
}

.card {
  padding: 40px;
  display: flex;
  background: #000000;
  border-radius: 32px;
}
.card:nth-child(2) {
  margin-top: 60px;
  margin-bottom: 60px;
}
.card__inside {
  margin-left: 35px;
}
.card__ep {
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #118DA8;
  margin-bottom: 16px;
  margin-top: 48px;
}
.card__tittle {
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
  max-width: 701px;
  width: 100%;
  margin-bottom: 28px;
}
.card__txt {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  max-width: 757px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 35px;
}

.strong {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #191919;
  border-radius: 6px;
}/*# sourceMappingURL=style.css.map */